body
{
	background-color: black;
}
header
{
	height: 100px;
}

aside
{
	height: 600px;
}

section
{
	height: 600px;
}
footer
{
	height: 100px;
}


.container_12
{
	background-color:black;
	
}

.red
{
	background-color: #FF2339;
	
}
.orange
{
	background-color:#E3180B ;
	
}
.yellow
{
	background-color: #FA2500;
	
}
.green
{
	background-color:#E64310;
	
}
.blue
{
	background-color:gray;
}
.indigo
{
	background-color: gray;
}
.violet
{
	background-color: gray;
}
